<section style="padding:1em">
    <div>
        <span class="icon {{ .style }}"></span>
        <h3>{{ .name }}</h3>
        <p>{{ .content | safeHTML }}</p>
    </div>
    <div>
        <p>{{with .addressLink }}<a target="_blank" rel="noopener" href="{{.}}"
                class="icon fa-map-marker style1"></a>{{end}} {{
            .address
            | safeHTML }}
        </p>
        <ul class="icons">
            {{range.links }}<li><a target="_blank" rel="noopener" href="{{ .url | safeURL}}" class="{{ .style}}"><span
                        class="label">{{.name}}</span></a></li>{{ end }}
        </ul>
    </div>
</section>